<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Просмотр</title>
</head>

<body>
    <h1>Студенты</h1>
    <p><a href="/createStudent" style="text-decoration: none;">Добавить чебзика</a></p>
    <p><a href="/createGroup" style="text-decoration: none;">Добавить группу</a></p>
    <p><a href="/createSpeciality" style="text-decoration: none;">Добавить Специальность</a></p>

    <table>
        <tr style="color: rgba(207, 16, 224, 0.479);">
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Название группы</th>
            <th>Специальность</th>
        </tr>
        {{#each student}}
        <tr>
            <td>{{this.surname}}</td>
            <td>{{this.imena}}</td>
            <td>{{this.second_name}}</td>
            <td>{{this.course_name}}</td>
            <td>{{this.name}}</td>
        </tr>
        {{/each}}
    </table>
</body>

</html>